.hero_section {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: #252324;
}
.image_hero {
  display: none;
}

.left_side {
  text-align: center;
  line-height: 1.6em;
  font-size: 1.1em;
  word-wrap: break-word;
  text-transform: none;
  font-family: "PT Sans", sans-serif;
}

.strapline {
  font-size: 21px;
  font-weight: bold;

  /* color: #222222; */
  color: white;
  font-family: "Merriweather", serif;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: normal;
  color: #444444;
}

.cta_button {
  margin: auto;
  text-align: center;
}

@media (min-width: 550px) {
  .hero_section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 45vh;
    padding: 0;
  }
  .left_side {
    text-align: left;
    margin-top: 20px;
  }

  .image_hero {
    width: 100%;
    display: block;
    order: 1;
  }
}

/* laptop */
@media (min-width: 550px) {
  .left_side {
    flex-basis: 45%;
    padding: 2rem;
  }

  .image_hero {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 40%;
    padding-top: 6rem;
  }

  .strapline {
    font-size: 27px;
    font-weight: 600;
    margin-top: 30px;
    padding: 0;
    justify-content: left;
    text-align: left;
    /* color: #222222; */
    color: white;
  }

  .paragraph {
    line-height: 1.6;
    /* color: #444444; */
    color: white;
  }

  .image_hero {
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 48%;
    min-height: 12rem;
    margin-top: -30px;
  }
}

@media (min-width: 1025px) {
  .hero_section {
    height: 85vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1%;
    max-width: 1200px;
    margin: auto;
  }

  .left_side {
    flex-basis: 60%;
    padding-left: 1rem;
    margin-top: -17px;
  }

  .strapline {
    font-size: 39px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
  }

  .paragraph {
    font-size: 20px;
    line-height: 1.6;
    /* color: #444444; */
    color: white;
  }

  .image_hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-basis: 35%;
    margin-top: 0px;
  }
}

/* Full size display */

@media (min-width: 1281px) {
  .hero_section {
    height: 65vh;
    padding-top: 5rem;
  }
  .image_hero {
    flex-basis: 15%;
  }
}
