/* Base styles (Mobile first) */
.container {
  height: 110vh;
  max-width: 999px;
  margin: auto;
  padding: 1em;
  background-color: #fafafa;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5em;
  word-wrap: break-word;
  text-transform: none;
}

.models {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
}

.models_main_title {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 450;
  margin: 30px 0;
  text-align: center;
  line-height: normal;
  text-transform: none;
}

.paragraph {
  font-size: 1.1em;
}

.model_item {
  padding: 1.2rem;
  width: 100%;
  box-sizing: border-box;
}

.model_link {
  display: block;
  overflow: hidden;
  color: inherit;
}

.model_title {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  margin: 25px 0 20px;
  text-align: center;
}

.model_text {
  margin: 25px 0;
  text-align: center;
}

.model_description {
  font-size: 12px;
  line-height: 1.4;
  margin-top: 10px;
  text-align: center;
}

.model_visit {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

/* Small Tablet (576px and up) */
@media (min-width: 576px) {
  .container {
    height: 150vh;
  }

  .models {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .models_main_title {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5em;
    margin: 0 0 30px 0;
    text-align: left;
    text-transform: uppercase;
  }

  .model_item {
    box-sizing: border-box;
  }

  .model_title {
    font-size: 22px;
    font-weight: 500;
    padding: 1.3rem 0;
    margin: 0;
  }

  .model_text {
    margin-top: 10px;
  }

  .model_description {
    font-size: 0.8rem;
  }
}

/* Standard Tablet (768px and up) */
@media (min-width: 768px) {
  .container {
    padding: 2em;
    height: auto;
  }

  .model_item {
    width: 45%;
  }

  .model_title {
    font-size: 24px;
  }

  .models_main_title {
    font-size: 26px;
  }
}

/* Laptop (1024px and up) */
@media (min-width: 1024px) {
  .container {
    height: 95vh;
    display: flex;
  }

  .models {
    max-width: 999px;
    justify-content: center;
    align-items: center;
  }

  .models_main_title {
    font-size: 28px;
    font-weight: 600;
  }

  .model_link {
    text-decoration: none;
    color: black;
  }
}
